<div class="card mt-2">
  <h5 class="card-header" style="text-align: center;"><a href="{{site.baseurl}}{% link sponsorship.md %}">Sponsors</a></h5>
  {% assign grouped_sponsors = site.data.sponsors.sponsors | group_by:"type" %}

  <div class="container">
    {% for group in grouped_sponsors %}
    <div class="row mt-1 mb-1 justify-content-around align-items-center">

      <div class="col-12">
        {% if group.name == 'Gold' or group.name == 'Platinum' or group.name == 'Silver'%}
        <b>{{-group.name-}}&nbsp;Sponsors:</b>
        {% else %}
        <!-- <b>{{-group.name-}}&nbsp;:</b> -->
        <b>{{-group.name-}}:</b>
        {% endif %}
      </div>
    
      {% for item in group.items %}
      <a href="{{item.url}}" target="_blank"><img src="{{ site.baseurl }}/imgs_2026/Sponsors/{{item.logo}}"
          class="img-fluid" alt="{{ item.id }}" style="max-height: 50px;"></a>
      {% endfor %}

    </div>
    {% endfor %}
  </div>
</div>
<br>