<div class="card mt-2">
  <style>
    .sidebar-sponsor-list {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
      gap: 8px;
    }

    .sidebar-sponsor-list-featured {
      justify-content: center;
      margin: 0 auto;
    }

    .sidebar-sponsor-list-featured .sidebar-sponsor-logo {
      width: 220px;
      justify-self: center;
    }

    .sidebar-sponsor-list-featured .sidebar-sponsor-logo img {
      max-width: 100px;
      max-height: 74px;
    }

    .sidebar-sponsor-logo img[alt="Podium_Institute"],
    .sidebar-sponsor-logo img[alt="NeuraVision"] {
      max-width: 90px;
    }

    .sidebar-sponsor-logo img[alt="NJUST"] {
      max-width: 60px;
      max-height: 60px;
    }

    .sidebar-sponsor-list-silver {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 18px;
    }

    .sidebar-sponsor-list-silver .sidebar-sponsor-logo {
      width: 104px;
      flex: 0 1 104px;
    }

    .sidebar-sponsor-list-silver .sidebar-sponsor-logo-podium-institute,
    .sidebar-sponsor-list-silver .sidebar-sponsor-logo-neuravision {
      width: 94px;
      flex-basis: 94px;
    }

    .sidebar-sponsor-list-silver .sidebar-sponsor-logo-njust {
      width: 64px;
      flex-basis: 64px;
    }

    .sidebar-sponsor-list-silver .sidebar-sponsor-logo img {
      max-width: calc(100% - 4px);
    }

    .sidebar-sponsor-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 86px;
      min-width: 0;
      padding: 2px;
      box-sizing: border-box;
    }

    .sidebar-sponsor-logo img {
      max-width: 92%;
      max-height: 100%;
      object-fit: contain;
    }

    .sidebar-sponsor-logo-main {
      flex: 0 1 150px;
      height: 86px;
    }
  </style>
  <h5 class="card-header" style="text-align: center;"><a href="{{site.baseurl}}{% link sponsorship.md %}">Sponsors</a></h5>
  {% assign sponsor_types = "Platinum+,Platinum,Gold,Silver,Special,Supported by" | split: "," %}

  <div class="container">
    {% for sponsor_type in sponsor_types %}
    {% assign items = site.data.sponsors.sponsors | where: "type", sponsor_type %}
    {% if items.size > 0 %}
    <div class="row mt-1 mb-1 justify-content-around align-items-center">

      <div class="col-12">
        {% if sponsor_type == 'Gold' or sponsor_type == 'Platinum' or sponsor_type == 'Platinum+' or sponsor_type == 'Silver'%}
        <b>{{-sponsor_type-}}&nbsp;Sponsors:</b>
        {% else %}
        <b>{{-sponsor_type-}}:</b>
        {% endif %}
      </div>
    
      <div class="col-12 sidebar-sponsor-list{% if sponsor_type == 'Platinum+' or sponsor_type == 'Platinum' or sponsor_type == 'Gold' or sponsor_type == 'Silver' %} sidebar-sponsor-list-featured{% endif %}{% if sponsor_type == 'Silver' %} sidebar-sponsor-list-silver{% endif %}">
        {% for item in items %}
        <a href="{{item.url}}" target="_blank" class="sidebar-sponsor-logo sidebar-sponsor-logo-{{ item.name | slugify }}{% if sponsor_type == 'Platinum+' or sponsor_type == 'Platinum' %} sidebar-sponsor-logo-main{% endif %}">
          <img src="{{ site.baseurl }}/imgs_2026/Sponsors/{{item.logo}}" class="img-fluid" alt="{{ item.name }}">
        </a>
        {% endfor %}
      </div>

    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<br>
<!--<div>
  <h5 class="card-header mb-2" style="text-align: center;">Follow us on X<br><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter fa-1x"></i> {{ site.twitter_username }}</a></h5>
</div>
<br>-->
<!--
<div class="card">
  <h5 class="card-header" style="text-align: center; color:#b5121b">News</h5>
  <ul class="dated-list">
    <li data-date="03 Dec"><a href="https://sites.google.com/view/riteshvyas">Ritesh Vyas</a>, Pandit Deenjal Energy University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for India</a>. </li>
    <li data-date="02 Dec"><a href="https://ai.bu.edu/ksaenko.html">Kate Saenko</a>, Boston University, will give a keynote talk at BMVC2026. Prof Saenko is an AI Research Scientist at FAIR, Meta and Full Professor of Computer Science at Boston University. </li>
    <li data-date="01 Dec"><a href="https://www.crcv.ucf.edu/person/mubarak-shah/">Mubarak Shah</a>, University of Central Florida, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Shah was General Chair of CVPR'22. </li>
    <li data-date=""><a href="https://cv.snu.ac.kr/index.php/~bhhan/">Bohyung Han</a>, Seoul National University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>. Prof Han is also Programme Chair of ICCV'25, Senior Area Chair of ICML'25 and ICLR'25, and Area Chair of CVPR'25. </li>
    <li data-date="30 Nov"><a href="https://www.cs.bu.edu/fac/sclaroff/">Stan Sclaroff</a>, Boston University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Sclaroff is Advisory Board Member of the CVF, was Associate Editor in Chief of TPAMI and General Chair of CVPR, ICPR and ICIAP. </li>
    <li data-date="28 Nov"><a href="https://faculty.ucmerced.edu/mhyang/">Ming-Hsuan Yang</a>, University of California at Merced, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Yang has previously chaired ICCV and ACCV. </li>
    <li data-date=""><a href="https://research.monash.edu/en/persons/jianfei-cai/">Jianfei Cai</a>, Monash University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>. Prof Cai is General Chair of ICME'26 and MM'24. </li>
    <li data-date="27 Nov"><a href="https://feinanshan.github.io/">Ping Hu</a>, University of Electronic Science and Technology of China, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for China</a>. </li>
    <li data-date="26 Nov"><a href="https://research.monash.edu/en/persons/qiuhong-ke/">Qiuhong Ke</a>, Monash University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for Australia</a>. </li>
    <li data-date="25 Nov"><a href="https://www.robots.ox.ac.uk/~vedaldi/">Andrea Vedaldi</a>, University of Oxford, will give a keynote talk at BMVC2026. </li>
    <li data-date="20 Nov"><a href="https://www.southampton.ac.uk/people/668885/professor-gabriela-czanner">Gabriela Czanner</a>, University of Southampton, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>.</li>
    <li data-date="11 Nov">The BMVC'26 website is now online. The website is being updated with much more to come. </li>
  </ul>
</div>-->

<div>
    <!-- <a class="twitter-timeline" height="400" href="https://twitter.com/{{ site.twitter_username }}" data-chrome="nofooter noheader noborders">News by {{ site.twitter_username }}</a> -->

  <!-- <iframe src="https://nitter.net/{{ site.twitter_username }}" width="100%" height="400" frameborder="0" loading="lazy"></iframe> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">🚨 <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> submissions are now OPEN! 🚨<br><br>🔗Abstract &amp; paper submissions via OpenReview: <a href="https://t.co/ZAzFuMU9qU">https://t.co/ZAzFuMU9qU</a><br><br>📢 All authors must register on OpenReview — don’t wait till the last minute!<br><br>📢 Full details of the CFP &amp; topics: <a href="https://t.co/z6YFVZt7a0">https://t.co/z6YFVZt7a0</a> <a href="https://t.co/YC3atZmvrI">https://t.co/YC3atZmvrI</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1915799603816833278?ref_src=twsrc%5Etfw">April 25, 2025</a></blockquote>  -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">📣 <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> Abstract &amp; Paper submission deadlines are fast approaching!<br>🗓️ Abstracts &amp; Workshops: Fri, 9 May 2025<br>🗓️ Full Papers: Fri, 16 May 2025<br><br>More details: <a href="https://t.co/y34tbyJ23P">https://t.co/y34tbyJ23P</a><br><br>Make sure to submit your work on time! <a href="https://t.co/m2vDrhT3IX">https://t.co/m2vDrhT3IX</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1919698009132032202?ref_src=twsrc%5Etfw">May 6, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">📢 The abstract submission deadline for BMVC 2025 has been extended!<br><br> 🆕 New deadline: Tuesday, 13 May 2025<br><br>Don&#39;t miss the chance to be part of one of the leading conferences in computer vision!<a href="https://twitter.com/hashtag/BMVC?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC</a> <a href="https://twitter.com/hashtag/Sheffield?src=hash&amp;ref_src=twsrc%5Etfw">#Sheffield</a> <a href="https://twitter.com/hashtag/CFP?src=hash&amp;ref_src=twsrc%5Etfw">#CFP</a> <a href="https://twitter.com/hashtag/ComputerVision?src=hash&amp;ref_src=twsrc%5Etfw">#ComputerVision</a> <a href="https://t.co/jxz55MzH3Q">https://t.co/jxz55MzH3Q</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1920456308634902735?ref_src=twsrc%5Etfw">May 8, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">📢 *Updates!* We’re excited to announce that details for the accepted workshops at <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> are now live!<br><br>Explore the full list and updated information here: <a href="https://t.co/1pJ4M1Js8X">https://t.co/1pJ4M1Js8X</a><br><br>Stay tuned for more updates—we&#39;re excited to see you at <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a>!</p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1937109248925729122?ref_src=twsrc%5Etfw">June 23, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">**📢Deadline: Wed, 30 July**<br><br>Are you a PhD student in computer vision graduating ±6 months from now?<br><br>Submit to the <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> Doctoral Consortium to:<br>✅Present your work<br>✅Get 1:1 mentorship<br>✅Join the main poster sessions<br><br>Details &amp; Submission: <a href="https://t.co/Cp3wYHRyhY">https://t.co/Cp3wYHRyhY</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1949846252868313415?ref_src=twsrc%5Etfw">July 28, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  
  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Just 2 weeks until <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a>! 🎉<br><br>Get ready for inspiring talks, cutting-edge research, and great networking.<br><br>Check out the full programme here 👉 <a href="https://t.co/QCb5xWAilL">https://t.co/QCb5xWAilL</a> <a href="https://t.co/EaO9C5NjLt">https://t.co/EaO9C5NjLt</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1987939139929747610?ref_src=twsrc%5Etfw">November 10, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We’re all set for Monday’s kickoff at <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a>! 🚀🥳<br><br>Can’t wait to welcome everyone for a week of inspiring research, talks, and connections.<br><br>Be sure to share your conference highlights, stories, and photos using <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> — let’s keep the excitement flowing all week! 📸✨ <a href="https://t.co/x3cAJGkHtq">pic.twitter.com/x3cAJGkHtq</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1992186391854235687?ref_src=twsrc%5Etfw">November 22, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day 1 at <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> featured an inspiring keynote from Prof. Philip Torr on AI for the People — a call to ensure AI empowers everyone and supports a fair society. <br><br>Excited for the week ahead of cutting-edge research! Share your conference highlights with <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> ✨🚀 <a href="https://t.co/lMPsaalIeq">pic.twitter.com/lMPsaalIeq</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1992999311286976899?ref_src=twsrc%5Etfw">November 24, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day 2 at <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> brought another exciting keynote from Prof. Marc Pollefeys (<a href="https://twitter.com/mapo1?ref_src=twsrc%5Etfw">@mapo1</a>) from <a href="https://twitter.com/ETH?ref_src=twsrc%5Etfw">@ETH</a> Zurich on Spatial AI.<br><br>Inspiring talk exploring how rich 3D maps and semantic scene understanding can empower both people and robots to interact with the world more intelligently. <a href="https://t.co/RQc3GSaJJo">pic.twitter.com/RQc3GSaJJo</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1993357199037337834?ref_src=twsrc%5Etfw">November 25, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day 3 at <a href="https://twitter.com/hashtag/BMVC2025?src=hash&amp;ref_src=twsrc%5Etfw">#BMVC2025</a> featured a keynote from Dr. Angela Dai (<a href="https://twitter.com/angelaqdai?ref_src=twsrc%5Etfw">@angelaqdai</a>) from <a href="https://twitter.com/TU_Muenchen?ref_src=twsrc%5Etfw">@TU_Muenchen</a> on &quot;Can Transformers Speak Geometry?&quot; <br><br>A fascinating on about how transformer-based models can generate 3D meshes, unlocking scalable, interactive content creation for graphics &amp; vision. <a href="https://t.co/fROJhBFtvf">pic.twitter.com/fROJhBFtvf</a></p>&mdash; British Machine Vision Conference (BMVC) (@BMVCconf) <a href="https://twitter.com/BMVCconf/status/1993666417909215381?ref_src=twsrc%5Etfw">November 26, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <!-- <a class="twitter-timeline" href="https://twitter.com/BMVCconf?ref_src=twsrc%5Etfw">Tweets by BMVCconf</a>  -->
  
</div>
