<div class="card mt-2">
  <h5 class="card-header" style="text-align: center;"><a href="{{site.baseurl}}{% link sponsorship.md %}">Sponsors</a></h5>
  {% assign grouped_sponsors = site.data.sponsors.sponsors | group_by:"type" %}

  <div class="container">
    {% for group in grouped_sponsors %}
    <div class="row mt-1 mb-1 justify-content-around align-items-center">

      <div class="col-12">
        {% if group.name == 'Gold' or group.name == 'Platinum' or group.name == 'Silver'%}
        <b>{{-group.name-}}&nbsp;Sponsors:</b>
        {% else %}
        <!-- <b>{{-group.name-}}&nbsp;:</b> -->
        <b>{{-group.name-}}:</b>
        {% endif %}
      </div>
    
      {% for item in group.items %}
      <a href="{{item.url}}" target="_blank"><img src="{{ site.baseurl }}/imgs_2026/Sponsors/{{item.logo}}"
          class="img-fluid" alt="{{ item.id }}" style="max-height: 50px;"></a>
      {% endfor %}

    </div>
    {% endfor %}
  </div>
</div>
<br>

<div class="card">
  <h5 class="card-header" style="text-align: center; color:#b5121b">News</h5>
<!--  <ul style="line-height: 1.5; padding: 20px 30px 10px 20px; padding-inline-start: 40px;">
    <li><strong>[03 Dec]</strong> <a href="https://sites.google.com/view/riteshvyas">Ritesh Vyas</a>, Pandit Deenjal Energy University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for India</a>. </li>
    <li><strong>[02 Dec]</strong> <a href="https://ai.bu.edu/ksaenko.html">Kate Saenko</a>, Boston University, will give a keynote talk at BMVC2026. Prof Saenko is an AI Research Scientist at FAIR, Meta and Full Professor of Computer Science at Boston University. </li>
    <li><strong>[01 Dec]</strong> <a href="https://www.crcv.ucf.edu/person/mubarak-shah/">Mubarak Shah</a>, University of Central Florida, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Shah was General Chair of CVPR'22. </li>
    <li><strong>[01 Dec]</strong> <a href="https://cv.snu.ac.kr/index.php/~bhhan/">Bohyung Han</a>, Seoul National University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>. Prof Han is also Programme Chair of ICCV'25, Senior Area Chair of ICML'25 and ICLR'25, and Area Chair of CVPR'25. </li>
    <li><strong>[30 Nov]</strong> <a href="https://www.cs.bu.edu/fac/sclaroff/">Stan Sclaroff</a>, Boston University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Sclaroff is Advisory Board Member of the CVF, was Associate Editor in Chief of TPAMI and General Chair of CVPR, ICPR and ICIAP. </li>
    <li><strong>[28 Nov]</strong> <a href="https://faculty.ucmerced.edu/mhyang/">Ming-Hsuan Yang</a>, University of California at Merced, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Yang has previously chaired ICCV and ACCV. </li>
    <li><strong>[28 Nov]</strong> <a href="https://research.monash.edu/en/persons/jianfei-cai/">Jianfei Cai</a>, Monash University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>. Prof Cai is General Chair of ICME'26 and MM'24. </li>
    <li><strong>[27 Nov]</strong> <a href="https://feinanshan.github.io/">Ping Hu</a>, University of Electronic Science and Technology of China, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for China</a>. </li>
    <li><strong>[26 Nov]</strong> <a href="https://research.monash.edu/en/persons/qiuhong-ke/">Qiuhong Ke</a>, Monash University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for Australia</a>. </li>
    <li><strong>[25 Nov]</strong> <a href="https://www.robots.ox.ac.uk/~vedaldi/">Andrea Vedaldi</a>, University of Oxford, will give a keynote talk at BMVC2026. </li>
    <li><strong>[20 Nov]</strong> <a href="https://www.southampton.ac.uk/people/668885/professor-gabriela-czanner">Gabriela Czanner</a>, University of Southampton, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>.</li>
    <li><strong>[11 Nov]</strong> The BMVC'26 website is now online. The website is being updated with much more to come. </li>
  </ul>-->
  <ul class="dated-list" style="line-height: 1.5; padding: 20px 30px 10px 20px; padding-inline-start: 40px;">
    <li data-date="03 Dec"><a href="https://sites.google.com/view/riteshvyas">Ritesh Vyas</a>, Pandit Deenjal Energy University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for India</a>. </li>
    <li data-date="02 Dec"><a href="https://ai.bu.edu/ksaenko.html">Kate Saenko</a>, Boston University, will give a keynote talk at BMVC2026. Prof Saenko is an AI Research Scientist at FAIR, Meta and Full Professor of Computer Science at Boston University. </li>
    <li data-date="01 Dec"><a href="https://www.crcv.ucf.edu/person/mubarak-shah/">Mubarak Shah</a>, University of Central Florida, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Shah was General Chair of CVPR'22. </li>
    <li data-date=""><a href="https://cv.snu.ac.kr/index.php/~bhhan/">Bohyung Han</a>, Seoul National University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>. Prof Han is also Programme Chair of ICCV'25, Senior Area Chair of ICML'25 and ICLR'25, and Area Chair of CVPR'25. </li>
    <li data-date="30 Nov"><a href="https://www.cs.bu.edu/fac/sclaroff/">Stan Sclaroff</a>, Boston University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Sclaroff is Advisory Board Member of the CVF, was Associate Editor in Chief of TPAMI and General Chair of CVPR, ICPR and ICIAP. </li>
    <li data-date="28 Nov"><a href="https://faculty.ucmerced.edu/mhyang/">Ming-Hsuan Yang</a>, University of California at Merced, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Advisory Chair</a>. Prof Yang has previously chaired ICCV and ACCV. </li>
    <li data-date=""><a href="https://research.monash.edu/en/persons/jianfei-cai/">Jianfei Cai</a>, Monash University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>. Prof Cai is General Chair of ICME'26 and MM'24. </li>
    <li data-date="27 Nov"><a href="https://feinanshan.github.io/">Ping Hu</a>, University of Electronic Science and Technology of China, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for China</a>. </li>
    <li data-date="26 Nov"><a href="https://research.monash.edu/en/persons/qiuhong-ke/">Qiuhong Ke</a>, Monash University, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Publicity Chair for Australia</a>. </li>
    <li data-date="25 Nov"><a href="https://www.robots.ox.ac.uk/~vedaldi/">Andrea Vedaldi</a>, University of Oxford, will give a keynote talk at BMVC2026. </li>
    <li data-date="20 Nov"><a href="https://www.southampton.ac.uk/people/668885/professor-gabriela-czanner">Gabriela Czanner</a>, University of Southampton, joins the organisation team as <a href="https://bmvc2026.bmva.org/people/organisers/">Programme Chair</a>.</li>
    <li data-date="11 Nov">The BMVC'26 website is now online. The website is being updated with much more to come. </li>
<!--    <li><strong>[11 Nov]</strong> <a href="{{ site.baseurl }}/dates/">Paper abstract and submission deadlines</a> have been released. </li>-->
  </ul>
</div>