<div class="container">
    <div class="row align-items-center footer-row">

        <div class="col-xs-12 col-sm-12 col-lg-5 col-xl-5 pb-2 pt-2">
            <b>© 2022-2025 The <a href="https://britishmachinevisionassociation.github.io/">BMVA</a></b><br>
            <i class="fas fa-solid fa-envelope" style="color: gray;"></i> <a href="mailto:{{ site.email }}"> {{ site.email }}</a> &nbsp;
            <i class="fab fa-twitter fa-1x" style="color: gray;"></i> <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
        </div>
            
        <div class="col-xs-12 col-sm-12 col-lg-5 col-xl-7 pb-2 pt-2" style="font-size:10px;">
            The British Machine Vision Conference is organised by <a href="https://britishmachinevisionassociation.github.io/">The British Machine Vision Association and Society for Pattern Recognition</a>. The Association is a Company limited by guarantee, No.2543446, and a non-profit-making body, registered in England and Wales as Charity No.1002307 (Registered Office: Dept. of Computer Science, Durham University, South Road, Durham, DH1 3LE, UK).
        </div><br>
                
    </div>
</div>