<!doctype html>
<html lang="en">
  <head>
    {% include head_includes.html %}

    <title>{{ site.title}}: {{ page.title }}</title>
  </head>

  <header>
  </header>

  <body>
    {% include navbar.html %}
    {% include header_full.html %}
    
    <main role="main" class="container">
    <!--<div class="container m-t-2">-->
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-7">
          {{ content }}
        </div>

        <div class="col-xs-6 col-sm-5">

          <img src="imgs_2026/Lancaster/LancasterTownHallGraphic-Welcome.png" width="100%"  style="vertical-align: bottom; margin-bottom:0rem!important">
<div class="alert mt-3 alert-info" style="vertical-align: top; margin-top:-1.1rem!important">
    <!-- <p>Paper registeration deadline is 23:59 GMT Tuesday, 13 May 2025. Full paper submission deadline is 23:59 GMT Friday, 16 May 2025. </p> -->
    <p>BMVC'26 will be hosted by Lancaster University and held at Lancaster Town Hall. </p>
    <center><img src="imgs_2026/Lancaster/welcome-to-lancaster-city-1920x1080.jpg" width="100%"></center>
</div>


          {% include events_sidebar.html %}
          
          <br />
          
          {% include twitter_sidebar.html %}
          <br />
          
          
        </div>
      </div>

      <!-- <div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

    <!--</div>-->
    </main>

    <footer class="footer bg-light">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}
  </body>
</html>
